{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button id="newgame" type="button" class="btn btn-lg btn-default">New Game</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button id="stat" type="button" class="btn btn-lg btn-default">Stats</button>
            </div>
        </div>
    </div>
{% endblock %}